body{
	padding:0px;
	background-color: #222;
	font-family: 'Catamaran', sans-serif;
	overflow-x: hidden;
}

#carouselExampleIndicators{
	width: 100%;
}

.nav-wrapper{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	z-index: 20;
}

.carousel{
		height:500px;
		padding:0px;
}

.carousel-item > img{
	
	height: 550px;
	min-width: 100px;
	top: 0;
	left: 0;
}

.carousel-item > .container > .carousel-caption{     
	position: absolute;
	top:55%;  
}

.parent-center{
	text-align: center;
}

.team-container{
	margin-top: 80px;
	color: white;
}

.col-lg-4{
	padding: 10px;
}

.col-lg-4 > h2{
		margin:10px;
}

.col-lg-4 > p{
	margin-bottom: 10px;
}

.divider{
	margin:40px 0;
	background-color: #FFF;
}

.content > .col-md-7 > .content-text{
	color: white;
	position: relative;
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
}

.content > .col-md-5 >img{
	padding:  30px;
}