
/*styling should be in particular order*/

/*order : link,visited,hover,active*/

/*shown Below*/

a{
	font-size: 35px;
}

a:link{
	color: red;
}

a:visited{
	color:blue;
}

a:hover{
	color:green;
}

a:active{
	color:darkmagenta;
}